/* .preview {
      width: 60%;
      border: 2px solid black;
      background-color: black;
} */

.preview-wrapper {
      /* position: relative; */
      height: 100%;
      flex-grow: 1;
}

.preview-wrapper iframe {
      height: 100%;
      width: 100%;
      border: 2px solid black;
      /* background-color: black; */
}
